@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
    background: #8A2387;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F27121, #E94057, #8A2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size : cover;
    color: white;
    font-family: 'Ubuntu' , sans-serif;
}

.header {
    padding: 5px 20px;
    z-index: 500;
}

.home {
    display: inline-block;
}

.links {
    display: inline-block;
    padding-left: 20px;
}

ul {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: block;
}

.sticky {
    position: fixed;
    top: 0;
    width: 96%;
}

.sticky + .content {
    padding-top: 102px;
}

.main {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    overflow: auto;
    margin-top: 50px;
}

.main h1 {
    font-size: 58px;
    padding-top: 20vh;
}

.main input {
    width: 60%;
    max-width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 30px;
    padding: 5px;
    border: none;
    border-radius: 8px;
}

.main label {
    font-weight: bold;
}

.confirm-text {
    margin: 5px 0;
}

a {
    color: orange;
    text-decoration: none;
}

.btn {
    border: none;
    border-radius: 3px;
    padding: 5px;
}

.btn.main-btn {
    background-color: transparent;
    width : 115px;
    height: 37px;
    font-size: 17px;
    color: white;
    background-color: orange;
}

.btn.main-btn:hover {
    background-color: #F27121;
}

.results-field {
    padding: 70px;
}

.result-box {
    background-color: rgba(56, 56, 56, 0.4);
    padding: 5px;
    margin-bottom: 10px;
}

.result-box:hover {
    background-color: rgba(19, 19, 19, 0.4);
}

.result-title {
    color: white;
    margin-bottom: 0;
}

.result-link {
    margin-top: 5px;
}

.fade-in {
    animation: fadein 1s;
}

@keyframes fadein {
    0% {opacity:0;}
    100% {opacity:1;}
}

.sk-folding-cube {
    margin: 20px auto;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
                transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    } 25%, 75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
                transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    } 90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
                transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

@keyframes sk-foldCubeAngle {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
                transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    } 25%, 75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
                transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    } 90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
                transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}
